group 'io.swagger'
version '1.0.0'

task wrapper(type: Wrapper) {
    gradleVersion = '3.3'
    distributionUrl = "https://services.gradle.org/distributions/gradle-$gradleVersion-all.zip"
}

buildscript {
    ext.kotlin_version = '1.2.71'

    repositories {
        mavenCentral()
        maven {
            url "https://plugins.gradle.org/m2/"
        }
    }
    dependencies {
        classpath "org.jetbrains.kotlin:kotlin-gradle-plugin:$kotlin_version"
        classpath "gradle.plugin.org.hidetake:gradle-swagger-generator-plugin:2.9.0"
    }
}

apply plugin: 'org.hidetake.swagger.generator'
apply plugin: 'kotlin'

repositories {
    mavenCentral()
    jcenter()
}

dependencies {
    implementation "org.jetbrains.kotlin:kotlin-stdlib-jre7:$kotlin_version"        
    
    // Retrofit library
    implementation 'com.google.code.gson:gson:2.8.2'
    implementation 'com.squareup.retrofit2:retrofit:2.3.0'
    implementation 'com.squareup.retrofit2:converter-gson:2.3.0'
	implementation 'io.reactivex.rxjava2:rxjava:2.2.2'

    swaggerCodegen 'io.swagger:swagger-codegen-cli:2.3.0'
}

swaggerSources {
    esi {
        inputFile = file("$projectDir/swagger.json")
        code {
            language = 'kotlin'
            templateDir = file("$projectDir/template/")
            components = ['models', 'apis']
            dependsOn validation
            additionalProperties = ['enumPropertyNaming': 'UPPERCASE']
        }
    }
}

compileKotlin.dependsOn generateSwaggerCode